:root {
  --font-stack: 'Inter', sans-serif;
}

.App {
  display: block;
}

body {
  padding: 2em;
}

header,
footer,
main {
  margin: 1em;
}

input {
  margin-bottom: 6em;
}

main,
header {
  display: flex;
  flex-direction: row;
  background: "var(--figma-color-bg)";
}

header {
  gap: 100px;
}

main {
  gap: 50px;
}

.first-row {
  display: block;
}

.second-row {
  display: flex;
  justify-content: left;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000004d;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}

.single-country:hover {
  color: #7B61FF !important;

}